{{template "base" .}}

{{define "title"}}
    Buy Maize
{{end}}

{{define "content"}}
    <h2 class="mt-3 text-center">Buy Maize</h2>
    <hr>
    <img src="/static/maize.png" alt="Maize" class="img-fluid rounded mx-auto d-block">
{{end}}