{{define "body"}}
    <!doctype html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <p> Hello: </p>
        <p> You recently requested to reset your password for your account. </p>
        <p> Please click on the link below to get started: </p>
        <p> <a href="{{.Link}}">{{.Link}}</a> </p>
        <p> This link expires in 60 minutes.</p>
        <p>--<br>
        Maize Co.
        </p>
    </body>
    </html>
{{end}}